<div class="content">
  <%= form_for @form, url: session_path do |f|%>
    <header class="header">
      <div class="content"><img class="logo" src="/assets/images/icons/tw-icon.svg">
        <%= f.submit "ログイン", { class: "submit btn primary" }%>
      </div>
    </header>
    <div class="form">
      <h1 class="title">TweetAppにログイン</h1>
      <ul class="errors"><% @form.errors.full_messages.each do |msg| %><li class="errors-item"> <%= msg %> </li><% end %></ul>
      <%= f.text_field :account, { class: "input", placeholder: "アカウント名" }%>
    </div>
  <% end %>
</div>
