<div class="content">
  <header class="header">
    <div class="content"><img class="logo" src="/assets/images/icons/tw-icon.svg">
      <button class="submit btn primary">登録</button>
    </div>
  </header>
  <div class="form">
    <h1 class="title">アカウントを作成</h1>
    <input class="input" type="text" placeholder="アカウント名">
    <input class="input" type="text" placeholder="名前">
    <input class="input" type="text" placeholder="紹介文">
    <input class="input" type="text" placeholder="アイコンURL">
    <input class="input" type="text" placeholder="カバーURL">
  </div>
</div>
